[submodule "sdk/pico-sdk"]
	path = sdk/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "sdk/pico-extras"]
	path = sdk/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "third_party/heavylib"]
	path = third_party/heavylib
	url = https://github.com/Wasted-Audio/heavylib.git
[submodule "third_party/hvcc"]
	path = third_party/hvcc
	url = https://github.com/Wasted-Audio/hvcc.git
	branch = develop
