[submodule "sdk/pico-sdk"]
	path = sdk/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "sdk/pico-extras"]
	path = sdk/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "third_party/picotool"]
	path = third_party/picotool
	url = https://github.com/raspberrypi/picotool.git
[submodule "third_party/heavylib"]
	path = third_party/heavylib
	url = https://github.com/Wasted-Audio/heavylib.git
[submodule "third_party/hvcc"]
	path = third_party/hvcc
	url = https://github.com/Wasted-Audio/hvcc.git
	branch = develop
[submodule "third_party/pico-mpr121"]
	path = third_party/pico-mpr121
	url = https://github.com/antgon/pico-mpr121.git

